/* Mision */
.contenedor-cuerpo{
    max-width: 1100px;
    margin: 0 auto;
    width: 95%;
}

.cuerpo-main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 8rem;
}

.item-cuerpo-1{
    text-align: center;
    padding: 2rem;
}

.item-cuerpo-1 h2{
    font-family:"Lato";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: black;
}

.item-cuerpo-1 img{
    max-width: 50%;
}

.item-cuerpo-1 p{
    font-size: 16px;
    color: black;
    font-family: "Lato";
    line-height: 2rem;
    margin: 2rem 0;
    text-align: left;
}

/* Vision */

.item-cuerpo-2{
    text-align: center;
    padding: 2rem;
}

.item-cuerpo-2 h2{
    font-family:"Lato";
    font-weight: lighter;
    line-height: 4rem;
    font-size: 2.6rem;
    text-transform: capitalize;
    color: black;
}

.item-cuerpo-2 img{
    max-width: 50%;
}

.item-cuerpo-2 p{
    font-size: 16px;
    color: black;
    font-family: "Lato";
    line-height: 2rem;
    margin: 2rem 0;
    text-align: left;
}
