@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{ 
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background: url("../img/fondo1.jpg") no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;	
}