#doc-section1{
    margin: 0;
    padding: 0;
}

.doc-articulo1{
    margin: 20px;
    padding: 20px;
    border-radius: 1em 1em 1em 1em;
    background-color: transparent;
    border: 1px solid;
}


.doc-articulo2{
    margin: 20px;
    padding: 20px;
    border-radius: 1em 1em 1em 1em;
    background-color: transparent;
    border: 1px solid;
}

.doc-articulo3{
    margin: 20px;
    padding: 20px;
    border-radius: 1em 1em 1em 1em;
    background-color: transparent;
    border: 1px solid;
}

.doc-articulo4{
    margin: 20px;
    padding: 20px;
    border-radius: 1em 1em 1em 1em;
    background-color: transparent;
    border: 1px solid;
}